/********************************************/
/* Proje Adı : Kitaplık						*/
/* Proje Sahibi : Beyazkan					*/
/* Proje Açıklaması : Kitapçılar için 		*/
/* listeleme programı						*/
/* Dosya Adı : Style.css					*/
/* Yapım Tarihi : 14.08.2013 - Çarşamba		*/
/* Düzenleme Tarih, : 14.08.2013 - Çarşamba */
/********************************************/

body {
	background: #ECE7DF;
}
#Header{
	/* background:#FFFFFF; */
	padding-top: 20px;
	margin-bottom: 30px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 55px;
	font-weight: bold;
}

#Header a{
	/* background:#FFFFFF; */
	color: black;
	text-decoration:none;
}

#Kontrol{
	background: #EEEEEE;
	border: thin solid #BBBBBB;
	width: 138px;
	height: 32px;
	padding-top: 18px;
	text-align: center;
}

#Kontrol > a{
	background: #FFFFFF;
	border: thin solid #BBBBBB; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
	padding: 8px 15px;
}

#Kontrol > a:hover{
	background:#EEEEEE;
	text-decoration: none;
}

#Print{
	background: #EEEEEE;
	border: thin solid #BBBBBB;
	width: 538px;
	height: 40px;
	padding-top: 10px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
}

#Print > .sag{
	margin-top: 9px;
}

#Kategoriler{
	background: #EEEEEE;
	border: thin solid #BBBBBB;
	width: 218px;
	height: 35px;
	padding-top: 15px;
}

#kontrolMenu{
	background: #FFFFFF;
	border: thin solid #BBBBBB;
	display: none;
}

#kontrolMenu ul li {
	float:left;
	padding: 13px 0;
}

#kontrolMenu ul li a{
	background: #FFFFFF;
	padding:18px;
	border-left: thin solid #FFFFFF;
	border-right: thin solid #FFFFFF;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
}

#kontrolMenu ul li a:hover{
	background: #EEEEEE;
	border-left: thin solid #BBBBBB;
	border-right: thin solid #BBBBBB;
	color:
}


#Content{
	background: #EEEEEE;
	border: thin solid #BBBBBB;
	margin-left:9px; /* border + margin = 10px */ 
	margin-right:9px; /* border + margin = 10px */
}

#Kitap{
	background: #EEEEEE;
	border: thin solid #BBBBBB;
	margin-left:9px; /* border + margin = 10px */ 
	margin-right:9px; /* border + margin = 10px */
	display: none
}

#Kategori{
	background: #EEEEEE;
	border: thin solid #BBBBBB;
	margin-left:9px; /* border + margin = 10px */ 
	margin-right:9px; /* border + margin = 10px */
	display: none;
}

#Sayfalama{
	margin-top: 5px;
	text-align: center;
}

#Sayfalama > a{
	background: #EEEEEE;
	border: thin solid #BBBBBB;
	padding: 5px 10px;
	font-family: Calibri, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	text-decoration: none;
}

#Sayfalama > a:hover{
	background: #E2E2E2;
	border: thin solid #9F9F9F;
}

#Footer {
	height: 45px;
	background: #EEEEEE;
	border: thin solid #BBBBBB;
	padding-top: 30px;
	font-family: Calibri, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	
}

#Listeleme td{
	border-bottom: thin #BBBBBB solid;
}

#Listeleme tr:hover{
	background-color: #EEEEEE;
}

#Listeleme .koyu-tr{
	background-color: #F2F2F2;
}

#onizleme{
	position:absolute;
	border:2px solid #333;
	background:#ccc;
	padding:5px;
	display:none;
	color:#333;
	-moz-border-radius:5px;
	border-radius:5px;
}

.aciklama-tr {
	display: none;
}

#Listeleme .aciklama-tr div{
	margin-top:10px;
	margin-right: 30px;
}
.checkbox-Td {
	border-right: thin #BBBBBB solid;

	padding : 8px 15px;
}

.text-Td {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color : #525261;
	padding : 2px 10px;
	width: 900px;
}

.miniText {
	font-family: Calibri, Verdana, Helvetica, sans-serif;
	font-size: 12px;
}

.innerContent {
	background: #F8F8F8;
	border: thin solid #BBBBBB;
	border-bottom-style: none;
	margin: 10px;
}

.innerContentx {
	background: #F8F8F8;
	border: thin solid #BBBBBB;
	margin: 10px;
	padding: 10px;
}


/* Sık kullanılan css özellikleri */
.menu-Height {
	height: 50px;
}

.example-Height {
	height: 600px;
}

.example-Heightx{
	height: 560px;
	
}

.alt-Bosluk {
	margin-bottom: 10px;
}

.solBosluk {
	margin-left: 10px;
}

.sagBosluk {
	margin-right: 10px;
}

.ortaBosluk {
	margin: 0 10px;
}

.genis {
	padding: 5px 20px !important;
}

.alt-Cizgi{
	text-decoration: underline !important;
}

.sol{
	float: left;
}

.sag {
	float:right;
}

.border-left-fix{
	border-left: none !important;
}

/* DropDown Menü */

.dd_menu {
	background:#FFFFFF; 
	padding:0px; 
	margin:0; 
	list-style-type:none; 
	height:26px;
}
.dd_menu li {
	float:left; 
	height:26px; 
	border-right: solid 1px white;
}
.dd_menu li a {
	padding: 5px 45px; 
	display:block; 
	border: thin solid #BBBBBB; 
	color:black; 
	text-decoration:none; 
	font:12px Calibri, Verdana, Helvetica, sans-serif; 
	font-weight: bold;
}
.dd_menu li:hover a {
	text-decoration:underline;
}

.dd_menu ul {
	position:absolute; 
	left:-9999px; 
	top:-9999px; 
	list-style-type:none;
}
.dd_menu li:hover {
	position:relative; 
	background:#EEEEEE;
}
.dd_menu li:hover ul {
	left:0px; 
	top:27px; 
	background:lavender; 
	padding:3px; 
	border:1px solid grey; 
	width:130px;
}
.dd_menu li:hover ul li {
	height:18px; 
	border:none;
}
.dd_menu li:hover ul li a {
	height:18px; 
	padding:0px; 
	display:block; 
	font-size:11px; 
	width:128px; 
	line-height:18px; 
	text-indent:5px; 
	color:#444; 
	background-color:lavender; 
	text-decoration:none; 
	border:1px solid transparent;
}
.dd_menu li:hover ul li a:hover {
	height:18px; 
	background:silver; 
	color:#000; 
	border:solid 1px #444;
}

.both{
	clear:both;
}

.genelBilgi{
	width : 350px;
}

.ayrinti {
	width : 310px;
}

.formx input{
    /*Border ve Arkaplan*/
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #DADADA;
    background: #F9F9F9;

    /* Gölge*/
    /*box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .15);*/
	
    /*Font style*/
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #747474;
    font-size: 12px;
    font-style: italic;
    /*Boşluk*/
    margin-top: 5px;
    height: 24px;
    line-height: 24px;
    padding: 3px;
    width: 300px;
}

.formx textarea {
    /*Border ve Arkaplan*/
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #747474;
    font-size: 12px;
    font-style: italic;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #DADADA;
    background: #F9F9F9;
	width: 550px;
	height: 250px;
}

.formx label {
    font-family: Arial, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #5D5D5D;
}

.formx p{
	margin-bottom: 10px;
}

.resimBilgi{
	margin-top: 20px;
	padding: 5px;
	border: thin solid #DADADA;
	height: 310px;
}

.resimBilgi .sag{
	width : 310px;
}

.form-Active{
	margin-top: 30px;
	text-align:right;
}

.form-Active input{
	margin-right: 30px;
}

.form-Active a{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
}